/* Background and general layout */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* Background video */
#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}
@media(min-aspect-ratio:16/9){
    #bg-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    #bg-video{
        width: auto;
        height: 100%;
     }
    

}

/* Overlay to darken video */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}
  
  
  .background {
    text-align: center;
    width: 100%;
  }

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    z-index: 1000;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  
  .form-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 15px;
    max-width: 350px;
    margin: auto;
    padding-top: 2px;
    color: white;
    transition: 0.3;
    transform: translateY(10%);
  }
  
  .form-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 0.9em;
  }
  
  .checkbox-container input {
    margin-right: 8px;
  }
  
  .form-container button {
    background-color: #000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .form-container a {
    color: #aefeff;
    text-decoration: none;
  }
  
  footer {
    color: white;
    margin-top: 20px;
    font-size: 0.9em;
  }
  